<form class="memo-form" action="/memos/<%= h @memo['id'] %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label for="title">タイトル</label>
  <input class="title" type="text" name="title" id="title" value="<%= h @memo['title'] %>" required>
  <label for="body">内容</label>
  <textarea class="body" name="body" id="body" rows="10" required><%= h @memo['body'] %></textarea>
  <div class="buttons">
    <button type="submit">変更</button>
  </div>
</form>
